# Cloud Storage

In [2]:
import sqlite3
# librería para manipular dataframes
import pandas as pd
# librería para manipular fechas
import datetime as dt
# librería para conectar a Google Cloud Platform
from google.cloud import storage

In [3]:
#Me conecto a la Base de Datos
conn = sqlite3.connect('../local/database/stock_db.db')
main_table = pd.read_sql_query("SELECT * FROM main", conn)
main_table.head()

,index,Date,Open,High,Low,Close,Adj Close,Volume,Empresa
0,0,2023-01-03,130.279999,130.899994,124.169998,125.070000,124.048050,112117500,Apple
1,1,2023-01-04,126.889999,128.660004,125.080002,126.360001,125.327507,89113600,Apple
2,2,2023-01-05,127.129997,127.769997,124.760002,125.019997,123.998459,80962700,Apple
3,3,2023-01-06,126.010002,130.289993,124.889999,129.619995,128.560867,87754700,Apple
4,4,2023-01-09,130.470001,133.410004,129.889999,130.149994,129.086533,70790800,Apple

In [4]:
# Conexión con la plataforma de Google
storage_client = storage.Client.from_service_account_json('../local/tokens/gcp_token_clase.json')

# Conexión con el bucket
bucket = storage_client.get_bucket('bucket_clase_ucema')

In [5]:
bucket

In [6]:
# Itera sobre los objetos en el bucket
blobs = bucket.list_blobs()
for blob in blobs:
    print(blob.name)

13 - BIG DATA - Practica - Clase 13.pptx.pdf
clase13envivo_1.csv
clase13envivo_2.csv
clasevivoopcion3_2023-06-15 10:23:10.csv
file_2023-06-15 01:13:10.csv
file_2023-06-15 01:18:15.csv
file_cloudf_2023-06-15 01:56:19.csv
filecloudf_2023-06-15 01:57:27.csv
filecloudf_2023-06-15 01:58:04.csv
filecloudf_2023-06-15 09:23:41.csv
files2bq/

In [7]:
# Guardo el archivo
main_table.to_csv('../local/aux_data/main_table_aux.csv', index=False)
# Ruta y archivo dentro del bucket donde se van a subir el dataset

#Fecha y hora como string:
datetime = dt.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

blob = bucket.blob(f'clasevivoopcion3_{datetime}.csv')

# Ruta de donde se lee el archivo para enviar
blob.upload_from_filename('../local/aux_data/main_table_aux.csv', content_type='text/csv')

In [8]:
# Itera sobre los objetos en el bucket
blobs = bucket.list_blobs()
for blob in blobs:
    print(blob.name)

13 - BIG DATA - Practica - Clase 13.pptx.pdf
clase13envivo_1.csv
clase13envivo_2.csv
clasevivoopcion3_2023-06-15 10:23:10.csv
clasevivoopcion3_2024-06-24 00:40:37.csv
file_2023-06-15 01:13:10.csv
file_2023-06-15 01:18:15.csv
file_cloudf_2023-06-15 01:56:19.csv
filecloudf_2023-06-15 01:57:27.csv
filecloudf_2023-06-15 01:58:04.csv
filecloudf_2023-06-15 09:23:41.csv
files2bq/